# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches:
      - '**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  deploy:
    if: ${{ github.ref_name == 'main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Markdown
        run: |
          cd basic
          make update
          make md

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'
          cache-dependency-path: 'basic/vitepress/yarn.lock'

      - name: Build VitePress
        run: |
          cd basic/vitepress
          yarn install
          make import
          make build

      - name: Add robots.txt
        run: |
          echo -e "User-agent: *\nDisallow: /nightly/" > ./basic/webroot/robots.txt
          cat ./basic/webroot/robots.txt
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          cname: cpu.kanataso.net
          publish_dir: ./basic/webroot
          keep_files: false

  deploy-other:
    if: ${{ github.ref_name != 'main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Markdown
        run: |
          cd basic
          make update
          make md

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'
          cache-dependency-path: 'basic/vitepress/yarn.lock'

      - name: Build VitePress
        run: |
          cd basic/vitepress
          yarn install
          make import
          make build

      - name: Add robots.txt
        run: |
          echo -e "User-agent: *\nDisallow: /nightly/" > ./basic/webroot/robots.txt
          cat ./basic/webroot/robots.txt
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          cname: cpu.kanataso.net
          publish_dir: ./basic/webroot
          destination_dir: ${{ format('nightly/{0}', github.ref_name) }}
          keep_files: true
